<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <!--Brand link-->
        @Html.ActionLink("MVCMusicStore", "Index", "Home", null, new { @class = "navbar-brand" })
        <!--Menu-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li>@Html.ActionLink("Browse Albums", "Index", "Home", null, new { @class= "nav-link" })</li>
                <li>@Html.ActionLink("Browse Albums", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Browse Albums", "Index", "Home", null, new { @class = "nav-link" })</li>
            </ul>
        </div>
        <!--Menu toggle button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Login-->
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — moja aplikacja platformy ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
